[user]
	name = Kirill Merkushev
	email = lanwen@yandex.com
	signingkey = 54BF71672FB6C2A3
[commit]
	gpgsign = true
[core]
	excludesFile = ~/.gitignore
	autocrlf = input

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
