[user]
	name = Kirill Merkushev
	email = 1964214+lanwen@users.noreply.github.com
	signingkey = 5A7B01DB4DE20BEF
[commit]
	gpgsign = true
[core]
	excludesFile = ~/.gitignore
	autocrlf = input

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[init]
	defaultBranch = main
[gpg]
	program = /opt/homebrew/bin/gpg
