[user]
        name = Kirill Merkushev
        email = lanwen@yandex.ru
        signingkey = 0x476DA66909A15625
[core]
        autocrlf = input
        excludesfile = /Users/lanwen/.gitignore_global
[difftool "sourcetree"]
        cmd = opendiff \"$LOCAL\" \"$REMOTE\"
        path =
[mergetool "sourcetree"]
        cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
        trustExitCode = true
[commit]
	gpgsign = true
[gpg]
	program = gpg2
